.env
.env.*
!.env2.example
backend/models/
retrieval_service/models
backend/data/
backend/outputs/
backend/download_models.py
backend/pyproject.toml
backend/tests/__pycache__/
backend/tests/__init__.py
backend/src/mypackage.egg-info/
backend/src/config/__pycache__/
backend/src/config/__init__.py
backend/src/graphs/__pycache__/
backend/src/graphs/__init__.py
backend/src/nodes/__pycache__/
backend/src/nodes/__init__.py
backend/src/nodes/question_answering/__pycache__/
backend/src/nodes/question_answering_2/__pycache__/
backend/src/nodes/summarization/__pycache__/
backend/src/nodes/visualization/__pycache__/
backend/src/utils/__pycache__/
backend/src/vector_store/__pycache__/
backend/src/__init__.py
backend/__pycache__/
frontend/node_modules/
frontend/build/
frontend/dist/
frontend/coverage/
frontend/.DS_Store
frontend/*.log
*.pyc
